jelly.jgc-server.duckdns.org {
    reverse_proxy jellyfin:8096
}
qbit.jgc-server.duckdns.org {
    reverse_proxy host.docker.internal:8080
}
fotos.jgc-server.duckdns.org {
    reverse_proxy host.docker.internal:2283
}